.stopwatch-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.btn-container button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
}

.time-display {
    font-size: 10em;
    font-weight: bold;
}

.time-display.ready {
    color: green;
}

.time-display.running {
    color: blue;
}