.container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.timer, .records{
    flex: 1;
}
.cube-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}


